.styled-table {
    width: 100%;
    max-width: 1200px; /* Tamaño máximo de la tabla */
    min-width: 800px; /* Tamaño mínimo de la tabla */
    height: 600px; /* Altura fija de la tabla */
    border-collapse: separate;
    border-spacing: 0 10px; /* Espacio entre las filas */
    margin: 20px auto; /* Centrado de la tabla */
    background-color: #f8f8f8;
    border-radius: 10px;
    user-select: none; /* Deshabilita la selección de texto */
    overflow-y: auto; /* Añade scroll si la tabla excede el tamaño */
  }
  
  .styled-table thead {
    background-color: #1f2937;
    color: #fff;
  }
  
  .header-cell {
    font-size: 24px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .table-cell {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    user-select: none; /* Deshabilita la selección de texto */
    transition: transform 0.3s ease;
  }
  
  /* Efecto de desplazamiento al pasar el mouse */
  .table-cell:hover {
    transform: translateY(-5px);
  }
  
  /* Estilo de bordes para las filas */
  tbody tr:first-child .table-cell {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  tbody tr:last-child .table-cell {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  /* Estilo de la tabla en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .styled-table {
      border: none;
    }
  
    .table-cell {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
  
    .header-cell {
      font-size: 20px;
    }
  }
  
  