<table class="styled-table">
        <thead>
          <tr>
            <td colspan="2" class="header-cell">
              <app-header></app-header>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-cell">
              <app-work-experience></app-work-experience>
            </td>
            <td class="table-cell">
              <app-skills></app-skills>
            </td>
          </tr>
          <tr>
            <td class="table-cell">
              <app-education></app-education>
            </td>
            <td class="table-cell">
              <app-certificates></app-certificates>
            </td>
          </tr>
          <tr>
            <td class="table-cell">
              <app-languages></app-languages>
            </td>
            <td class="table-cell">
              <app-interests></app-interests>
            </td>
          </tr>
        </tbody>
      </table>